a{
  text-decoration: none;
  font-weight: normal !important;
}
a.forgotpass{
  font-size: 12px;
}
/*********** INDEX PAGE ****************/
.loginblock{
    width: 70%;
    margin: auto;
    margin-top: 5vh;
}
#loginform label.error {
  font-size: 12px;
  color: #a7a7a7;
}
div.input_block{
  padding: 6px 0;
}
.ui-footer .ui-title {
    font-size: .7em;
    font-weight: normal;
    color: #a7a7a7;
    letter-spacing: 1px;
}
/*********** INDEX PAGE ****************/

/*********** USER INTERNAL PAGE ****************/
tr {
    border-bottom: 1px solid #d6d6d6;
}
tr:nth-child(odd) {
    /*background: #e9e9e9;*/
}
.switch {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -4em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 2em;
}
.custom-size-flipswitch.ui-flipswitch {
    width: 8.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
}
.ui-header .ui-title {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin: 0 .5em;
    width: 100%;
    color: #38c;
    letter-spacing: 1px;
}
#homemenutoggle, #profilemenutoggle, #statusmenutoggle, #menumenutoggle, #eventsmenutoggle, #updatesmenutoggle, #faizmenutoggle{
  display: none;
}
.ui-btn-icon-left:after {
    background-color: #38c;
}
.ui-btn-icon-notext:after {
    background-color: #38c;
}
.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55vh;
}
/*********** USER INTERNAL PAGE ****************/

@media (min-width: 320px) and (max-width: 480px) { 


 }


@media (min-width: 360px) and (max-width: 640px) { 

  
 }



@media (min-width: 768px) and (max-width: 1024px) { 

  
 }


@media (min-width: 800px) and (max-width: 1280px) { 


 }


@media (min-width: 980px) and (max-width: 1280px) { 
 
 }


@media (min-width: 900px) and (max-width: 1920px) { 
    .loginblock{
      width: 40%;
      margin: auto;
      margin-top: 5vh;
  }

 }