/* line 4, ../scss/app.scss */
.row .right-bar {
  padding-right: 30px;
}

/* line 10, ../scss/app.scss */
.offcanvasrightmenu .side-menu {
  padding: 15px;
}
/* line 14, ../scss/app.scss */
.offcanvasrightmenu .side-menu a {
  color: black;
}
/* line 18, ../scss/app.scss */
.offcanvasrightmenu .side-menu a :hover {
  color: black;
}
/* line 24, ../scss/app.scss */
.offcanvasrightmenu .side-menu .menu-item {
  background-color: #FF797B;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  width: 90%;
}

/* line 36, ../scss/app.scss */
.left-side-bar {
  background-color: white;
}
/* line 40, ../scss/app.scss */
.left-side-bar .inner-div {
  margin-left: 20px;
  background-color: #FF0016;
  border-right: 12px solid black;
}
/* line 47, ../scss/app.scss */
.left-side-bar .logo {
  width: 200px;
  height: 200px;
  margin-top: 60px;
}
/* line 54, ../scss/app.scss */
.left-side-bar .para {
  padding: 40px;
  word-wrap: break-word;
  color: white;
}
/* line 60, ../scss/app.scss */
.left-side-bar .para p {
  font-weight: bold;
  font-size: 30px;
}
/* line 67, ../scss/app.scss */
.left-side-bar .side-menu {
  padding: 15px;
}
/* line 71, ../scss/app.scss */
.left-side-bar .side-menu a {
  color: black;
}
/* line 75, ../scss/app.scss */
.left-side-bar .side-menu a :hover {
  color: black;
}
/* line 81, ../scss/app.scss */
.left-side-bar .side-menu .menu-item {
  background-color: #FF797B;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}

/* line 99, ../scss/app.scss */
.right-bar .header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}
/* line 106, ../scss/app.scss */
.right-bar .header .signup, .right-bar .header .login {
  height: 35px;
  line-height: 1px;
  background-color: #FF0016;
  font-weight: bold;
  font-size: 22px;
}
/* line 116, ../scss/app.scss */
.right-bar .search {
  background-color: black;
  padding: 10px;
  height: 50px;
  margin-top: 20px;
}
/* line 123, ../scss/app.scss */
.right-bar .search h1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  float: left;
}
/* line 131, ../scss/app.scss */
.right-bar .search div {
  display: table-cell;
  width: 100%;
}
/* line 133, ../scss/app.scss */
.right-bar .search input {
  width: 95%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
}
/* line 142, ../scss/app.scss */
.right-bar .search button {
  width: 30px;
  height: 25px;
  padding: 0px;
}
/* line 152, ../scss/app.scss */
.right-bar .menu ul li:before {
  content: " | ";
}
/* line 157, ../scss/app.scss */
.right-bar .menu ul li:first-child:before {
  content: none;
}
/* line 162, ../scss/app.scss */
.right-bar .menu nav {
  height: 40px;
  width: 100%;
  font-weight: bold;
  position: relative;
  margin-top: 20px;
}
/* line 171, ../scss/app.scss */
.right-bar .menu nav ul {
  padding: 0;
  margin: 0 auto;
  width: 738px;
  height: 40px;
}
/* line 179, ../scss/app.scss */
.right-bar .menu nav li {
  display: inline;
  float: left;
}
/* line 185, ../scss/app.scss */
.right-bar .menu nav a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}
/* line 193, ../scss/app.scss */
.right-bar .menu nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
}
/* line 204, ../scss/app.scss */
.right-bar .menu nav a:hover, .right-bar .menu nav a:active {
  color: black;
}
/* line 212, ../scss/app.scss */
.right-bar .slider {
  margin-top: 20px;
}
/* line 217, ../scss/app.scss */
.right-bar .slider img {
  width: 100%;
  border-top: 12px solid #FF0016;
  border-bottom: 12px solid #FF0016;
}
/* line 225, ../scss/app.scss */
.right-bar .content {
  word-wrap: break-word;
  margin-bottom: 60px;
}
/* line 230, ../scss/app.scss */
.right-bar .content h1 {
  font-size: 35px;
  color: #662527;
  font-weight: bold;
  margin-top: 20px;
}
/* line 238, ../scss/app.scss */
.right-bar .content p {
  font-weight: bold;
  font-size: 25px;
}
/* line 245, ../scss/app.scss */
.right-bar .newarrival {
  background-color: black;
  padding: 0px;
}
/* line 250, ../scss/app.scss */
.right-bar .newarrival .hdecoration, .right-bar .newarrival h1, .right-bar .newarrival h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
/* line 257, ../scss/app.scss */
.right-bar .newarrival h1 {
  padding: 10px;
}
/* line 263, ../scss/app.scss */
.right-bar .newarrival h2 {
  padding-left: 10px;
  padding-top: 10px;
}
/* line 270, ../scss/app.scss */
.right-bar .newarrival img {
  width: 100%;
}
/* line 277, ../scss/app.scss */
.right-bar .product {
  padding-right: 0px;
}
/* line 284, ../scss/app.scss */
.right-bar .product .item button.details, .right-bar .product .item button.addtocart {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  margin-top: 20px;
  border-radius: 10px;
  width: 80px;
  height: 22px;
  font-size: 12px;
}
/* line 303, ../scss/app.scss */
.right-bar .product img.productimg {
  width: 100%;
}
/* line 311, ../scss/app.scss */
.right-bar .footer {
  padding: 0px;
}
/* line 315, ../scss/app.scss */
.right-bar .footer img {
  width: 90px;
  height: 50px;
  margin-top: 30px;
}
/* line 323, ../scss/app.scss */
.right-bar .social {
  padding: 0px;
}
/* line 327, ../scss/app.scss */
.right-bar .social h1 {
  font-size: 22px;
  font-weight: bold;
  margin-right: 15%;
}
/* line 334, ../scss/app.scss */
.right-bar .social img {
  width: 40px;
  height: 40px;
}

/*=======================================CSS FOR MEDIUM SCREEN STARTS HERE====================================================*/
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 351, ../scss/app.scss */
  .left-side-bar .inner-div {
    margin-left: 0px;
    border-right: none;
  }

  /* line 360, ../scss/app.scss */
  .right-bar .logo {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
  /* line 367, ../scss/app.scss */
  .right-bar .search input.searchin {
    width: 90%;
  }
  /* line 374, ../scss/app.scss */
  .right-bar .social h1 {
    margin-right: 0%;
    margin-top: 40px;
  }
  /* line 383, ../scss/app.scss */
  .right-bar .newarrival img {
    width: 60%;
  }
  /* line 389, ../scss/app.scss */
  .right-bar .product {
    padding-right: 0px;
    padding-left: 0px;
  }
  /* line 394, ../scss/app.scss */
  .right-bar .product .grid {
    margin-top: 40px;
  }

  /* line 403, ../scss/app.scss */
  .row .right-bar {
    padding-right: 20px;
  }
}
/*=======================================CSS FOR MEDIUM SCREEN ENDS HERE====================================================*/
/*=======================================CSS FOR SMALL SCREEN STARTS HERE====================================================*/
@media only screen and (max-width: 640px) {
  /* line 421, ../scss/app.scss */
  .left-side-bar .inner-div {
    margin-left: 0px;
    border-right: none;
  }

  /* line 430, ../scss/app.scss */
  .right-bar .logo {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
  /* line 437, ../scss/app.scss */
  .right-bar .search input.searchin {
    width: 85%;
  }
  /* line 442, ../scss/app.scss */
  .right-bar .content h1 {
    font-size: 20px;
  }
  /* line 447, ../scss/app.scss */
  .right-bar .content p {
    font-weight: bold;
    font-size: 18px;
  }
  /* line 455, ../scss/app.scss */
  .right-bar .social h1 {
    margin-right: 0%;
    margin-top: 40px;
  }
  /* line 462, ../scss/app.scss */
  .right-bar .product {
    padding-right: 0px;
    padding-left: 0px;
  }
  /* line 467, ../scss/app.scss */
  .right-bar .product .grid {
    margin-top: 40px;
  }
  /* line 474, ../scss/app.scss */
  .right-bar .product .item button.details, .right-bar .product .item button.addtocart {
    width: 70px;
    font-size: 10px;
  }

  /* line 485, ../scss/app.scss */
  .row .right-bar {
    padding-right: 20px;
  }
}
/*=======================================CSS FOR SMALL SCREEN ENDS HERE====================================================*/
