/* line 4, ../scss/cat.scss */
.row .right-bar {
  padding-right: 30px;
}

/* line 10, ../scss/cat.scss */
.offcanvasrightmenu .side-menu {
  padding: 15px;
}
/* line 14, ../scss/cat.scss */
.offcanvasrightmenu .side-menu a {
  color: black;
}
/* line 18, ../scss/cat.scss */
.offcanvasrightmenu .side-menu a :hover {
  color: black;
}
/* line 24, ../scss/cat.scss */
.offcanvasrightmenu .side-menu .menu-item {
  background-color: #FF797B;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  width: 90%;
}

/* line 36, ../scss/cat.scss */
.left-side-bar {
  background-color: white;
}
/* line 40, ../scss/cat.scss */
.left-side-bar .inner-div {
  margin-left: 20px;
  background-color: #FF0016;
  border-right: 12px solid black;
}
/* line 47, ../scss/cat.scss */
.left-side-bar .logo {
  width: 200px;
  height: 200px;
  margin-top: 60px;
}
/* line 54, ../scss/cat.scss */
.left-side-bar .side-menu {
  padding: 15px;
}
/* line 58, ../scss/cat.scss */
.left-side-bar .side-menu a {
  color: black;
}
/* line 62, ../scss/cat.scss */
.left-side-bar .side-menu a :hover {
  color: black;
}
/* line 68, ../scss/cat.scss */
.left-side-bar .side-menu .menu-item {
  background-color: #FF797B;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}
/* line 76, ../scss/cat.scss */
.left-side-bar .side-menu h1, .left-side-bar .side-menu h2, .left-side-bar .side-menu h3, .left-side-bar .side-menu h4, .left-side-bar .side-menu h5, .left-side-bar .side-menu h6 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/* line 93, ../scss/cat.scss */
.right-bar .header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}
/* line 102, ../scss/cat.scss */
.right-bar .search {
  background-color: black;
  padding: 10px;
  height: 50px;
  margin-top: 40px;
}
/* line 109, ../scss/cat.scss */
.right-bar .search h1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  float: left;
}
/* line 117, ../scss/cat.scss */
.right-bar .search div {
  display: table-cell;
  width: 100%;
}
/* line 118, ../scss/cat.scss */
.right-bar .search input {
  width: 95%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
}
/* line 127, ../scss/cat.scss */
.right-bar .search button {
  width: 30px;
  height: 25px;
  padding: 0px;
}
/* line 138, ../scss/cat.scss */
.right-bar .menu ul li:before {
  content: " | ";
}
/* line 143, ../scss/cat.scss */
.right-bar .menu ul li:first-child:before {
  content: none;
}
/* line 148, ../scss/cat.scss */
.right-bar .menu nav {
  height: 40px;
  width: 100%;
  font-weight: bold;
  position: relative;
  margin-top: 20px;
}
/* line 157, ../scss/cat.scss */
.right-bar .menu nav ul {
  padding: 0;
  margin: 0 auto;
  width: 738px;
  height: 40px;
}
/* line 165, ../scss/cat.scss */
.right-bar .menu nav li {
  display: inline;
  float: left;
}
/* line 171, ../scss/cat.scss */
.right-bar .menu nav a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}
/* line 179, ../scss/cat.scss */
.right-bar .menu nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
}
/* line 190, ../scss/cat.scss */
.right-bar .menu nav a:hover, .right-bar .menu nav a:active {
  color: black;
}
/* line 197, ../scss/cat.scss */
.right-bar .direction {
  margin-top: 20px;
}
/* line 201, ../scss/cat.scss */
.right-bar .direction h1 {
  font-size: 25px;
  font-weight: bold;
}
/* line 208, ../scss/cat.scss */
.right-bar .showproduct {
  margin-top: 20px;
}
/* line 212, ../scss/cat.scss */
.right-bar .showproduct img {
  width: 100%;
}
/* line 218, ../scss/cat.scss */
.right-bar .productdetail {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 50px;
  word-wrap: break-word;
}
/* line 225, ../scss/cat.scss */
.right-bar .productdetail h1 {
  font-weight: bold;
  color: #999A99;
  font-size: 60px;
}
/* line 232, ../scss/cat.scss */
.right-bar .productdetail h2 {
  font-size: 24px;
  font-weight: bold;
}
/* line 238, ../scss/cat.scss */
.right-bar .productdetail p {
  font-weight: bold;
  font-size: 20px;
}
/* line 244, ../scss/cat.scss */
.right-bar .productdetail button.retail, .right-bar .productdetail button.sale, .right-bar .productdetail button.addtocart {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  border-radius: 20px;
  width: 130px;
  height: 30px;
  font-size: 18px;
}
/* line 261, ../scss/cat.scss */
.right-bar .productdetail button.addtocart {
  background-color: #FF0016;
}
/* line 269, ../scss/cat.scss */
.right-bar .productinfo {
  word-wrap: break-word;
  margin-bottom: 60px;
  margin-top: 50px;
}
/* line 275, ../scss/cat.scss */
.right-bar .productinfo h1 {
  font-size: 51px;
  color: #999A99;
  font-weight: bold;
  margin-top: 20px;
}
/* line 283, ../scss/cat.scss */
.right-bar .productinfo p {
  font-weight: bold;
  font-size: 25px;
}
/* line 293, ../scss/cat.scss */
.right-bar .relatedpro h1 {
  font-size: 50px;
  color: #999A99;
  font-weight: bold;
}
/* line 301, ../scss/cat.scss */
.right-bar .product {
  padding-right: 0px;
  padding-left: 0px;
}
/* line 306, ../scss/cat.scss */
.right-bar .product .item {
  padding: 30px;
}
/* line 311, ../scss/cat.scss */
.right-bar .product img.productimg {
  width: 100%;
}
/* line 319, ../scss/cat.scss */
.right-bar .footer {
  padding: 0px;
}
/* line 323, ../scss/cat.scss */
.right-bar .footer img {
  width: 100px;
  height: 55px;
  margin-top: 30px;
}
/* line 331, ../scss/cat.scss */
.right-bar .social {
  padding: 0px;
}
/* line 335, ../scss/cat.scss */
.right-bar .social h1 {
  font-size: 22px;
  font-weight: bold;
  margin-right: 15%;
}
/* line 342, ../scss/cat.scss */
.right-bar .social img {
  width: 40px;
  height: 40px;
}

/*=======================================CSS FOR MEDIUM SCREEN STARTS HERE====================================================*/
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 360, ../scss/cat.scss */
  .left-side-bar .inner-div {
    margin-left: 0px;
    border-right: none;
  }

  /* line 369, ../scss/cat.scss */
  .right-bar .logo {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
  /* line 376, ../scss/cat.scss */
  .right-bar .search input.searchin {
    width: 90%;
  }
  /* line 383, ../scss/cat.scss */
  .right-bar .social h1 {
    margin-right: 0%;
    margin-top: 40px;
  }
  /* line 390, ../scss/cat.scss */
  .right-bar .product {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 399, ../scss/cat.scss */
  .row .right-bar {
    padding-right: 20px;
  }
}
/*=======================================CSS FOR MEDIUM SCREEN ENDS HERE====================================================*/
/*=======================================CSS FOR SMALL SCREEN STARTS HERE====================================================*/
@media only screen and (max-width: 640px) {
  /* line 418, ../scss/cat.scss */
  .left-side-bar .inner-div {
    margin-left: 0px;
    border-right: none;
  }

  /* line 427, ../scss/cat.scss */
  .right-bar .logo {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
  /* line 434, ../scss/cat.scss */
  .right-bar .search input.searchin {
    width: 85%;
  }
  /* line 441, ../scss/cat.scss */
  .right-bar .productdetail button.retail, .right-bar .productdetail button.sale, .right-bar .productdetail button.addtocart {
    width: 110px;
    font-size: 16px;
  }
  /* line 448, ../scss/cat.scss */
  .right-bar .productinfo h1 {
    font-size: 30px;
  }
  /* line 453, ../scss/cat.scss */
  .right-bar .productinfo p {
    font-weight: bold;
    font-size: 18px;
  }
  /* line 461, ../scss/cat.scss */
  .right-bar .social h1 {
    margin-right: 0%;
    margin-top: 40px;
  }
  /* line 468, ../scss/cat.scss */
  .right-bar .product {
    padding-right: 0px;
    padding-left: 0px;
  }
  /* line 476, ../scss/cat.scss */
  .right-bar .relatedpro h1 {
    font-size: 35px;
    color: #999A99;
    font-weight: bold;
  }

  /* line 490, ../scss/cat.scss */
  .row .right-bar {
    padding-right: 20px;
  }
}
/*=======================================CSS FOR SMALL SCREEN ENDS HERE====================================================*/
