/* line 4, ../scss/contact.scss */
.row .right-bar {
  padding-right: 30px;
}

/* line 11, ../scss/contact.scss */
.offcanvasrightmenu .side-menu {
  padding: 15px;
}
/* line 15, ../scss/contact.scss */
.offcanvasrightmenu .side-menu a {
  color: black;
}
/* line 19, ../scss/contact.scss */
.offcanvasrightmenu .side-menu a :hover {
  color: black;
}
/* line 25, ../scss/contact.scss */
.offcanvasrightmenu .side-menu .menu-item {
  background-color: #FF797B;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  width: 90%;
}

/* line 37, ../scss/contact.scss */
.left-side-bar {
  background-color: white;
}
/* line 41, ../scss/contact.scss */
.left-side-bar .inner-div {
  margin-left: 20px;
  background-color: #FF0016;
  border-right: 12px solid black;
}
/* line 48, ../scss/contact.scss */
.left-side-bar .logo {
  width: 200px;
  height: 200px;
  margin-top: 60px;
}
/* line 55, ../scss/contact.scss */
.left-side-bar .side-menu {
  padding: 15px;
}
/* line 59, ../scss/contact.scss */
.left-side-bar .side-menu a {
  color: black;
}
/* line 63, ../scss/contact.scss */
.left-side-bar .side-menu a :hover {
  color: black;
}
/* line 69, ../scss/contact.scss */
.left-side-bar .side-menu .menu-item {
  background-color: #FF797B;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}
/* line 77, ../scss/contact.scss */
.left-side-bar .side-menu h1, .left-side-bar .side-menu h2, .left-side-bar .side-menu h3, .left-side-bar .side-menu h4, .left-side-bar .side-menu h5, .left-side-bar .side-menu h6 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/* line 94, ../scss/contact.scss */
.right-bar .header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}
/* line 103, ../scss/contact.scss */
.right-bar .search {
  background-color: black;
  padding: 10px;
  height: 50px;
  margin-top: 40px;
}
/* line 110, ../scss/contact.scss */
.right-bar .search h1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  float: left;
}
/* line 118, ../scss/contact.scss */
.right-bar .search div {
  display: table-cell;
  width: 100%;
}
/* line 119, ../scss/contact.scss */
.right-bar .search input {
  width: 95%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
}
/* line 128, ../scss/contact.scss */
.right-bar .search button {
  width: 30px;
  height: 25px;
  padding: 0px;
}
/* line 139, ../scss/contact.scss */
.right-bar .menu ul li:before {
  content: " | ";
}
/* line 144, ../scss/contact.scss */
.right-bar .menu ul li:first-child:before {
  content: none;
}
/* line 149, ../scss/contact.scss */
.right-bar .menu nav {
  height: 40px;
  width: 100%;
  font-weight: bold;
  position: relative;
  margin-top: 20px;
}
/* line 158, ../scss/contact.scss */
.right-bar .menu nav ul {
  padding: 0;
  margin: 0 auto;
  width: 738px;
  height: 40px;
}
/* line 166, ../scss/contact.scss */
.right-bar .menu nav li {
  display: inline;
  float: left;
}
/* line 172, ../scss/contact.scss */
.right-bar .menu nav a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}
/* line 180, ../scss/contact.scss */
.right-bar .menu nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
}
/* line 191, ../scss/contact.scss */
.right-bar .menu nav a:hover, .right-bar .menu nav a:active {
  color: black;
}
/* line 198, ../scss/contact.scss */
.right-bar .direction {
  margin-top: 20px;
}
/* line 202, ../scss/contact.scss */
.right-bar .direction h1 {
  font-size: 25px;
  font-weight: bold;
}
/* line 209, ../scss/contact.scss */
.right-bar .contact {
  margin-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
}
/* line 215, ../scss/contact.scss */
.right-bar .contact h1 {
  font-weight: bold;
  color: #999A99;
  height: 100px;
}
/* line 222, ../scss/contact.scss */
.right-bar .contact .lbl {
  font-weight: bold;
  font-size: 23px;
  color: black;
  line-height: 15px;
}
/* line 230, ../scss/contact.scss */
.right-bar .contact .field {
  height: 85px;
}
/* line 235, ../scss/contact.scss */
.right-bar .contact button.submit {
  background-color: black;
  height: 40px;
  font-weight: bold;
  line-height: 0;
  margin-top: 50px;
}
/* line 244, ../scss/contact.scss */
.right-bar .contact input.txt {
  background-color: #DFDFDF;
  height: 30px;
}
/* line 252, ../scss/contact.scss */
.right-bar .footer {
  padding: 0px;
}
/* line 256, ../scss/contact.scss */
.right-bar .footer img {
  width: 100px;
  height: 55px;
  margin-top: 30px;
}
/* line 264, ../scss/contact.scss */
.right-bar .social {
  padding: 0px;
}
/* line 268, ../scss/contact.scss */
.right-bar .social h1 {
  font-size: 22px;
  font-weight: bold;
  margin-right: 15%;
}
/* line 275, ../scss/contact.scss */
.right-bar .social img {
  width: 40px;
  height: 40px;
}

/*=======================================CSS FOR MEDIUM SCREEN STARTS HERE====================================================*/
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 294, ../scss/contact.scss */
  .left-side-bar .inner-div {
    margin-left: 0px;
    border-right: none;
  }

  /* line 303, ../scss/contact.scss */
  .right-bar .search input.searchin {
    width: 90%;
  }
  /* line 310, ../scss/contact.scss */
  .right-bar .social h1 {
    margin-right: 0%;
    margin-top: 40px;
  }

  /* line 320, ../scss/contact.scss */
  .row .right-bar {
    padding-right: 20px;
  }
}
/*=======================================CSS FOR MEDIUM SCREEN ENDS HERE====================================================*/
/*=======================================CSS FOR SMALL SCREEN STARTS HERE====================================================*/
@media only screen and (max-width: 640px) {
  /* line 339, ../scss/contact.scss */
  .left-side-bar .inner-div {
    margin-left: 0px;
    border-right: none;
  }

  /* line 348, ../scss/contact.scss */
  .right-bar .search input.searchin {
    width: 85%;
  }
  /* line 353, ../scss/contact.scss */
  .right-bar .contact {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 358, ../scss/contact.scss */
  .right-bar .contact .lbl {
    font-size: 20px;
  }
  /* line 366, ../scss/contact.scss */
  .right-bar .social h1 {
    margin-right: 0%;
    margin-top: 40px;
  }

  /* line 377, ../scss/contact.scss */
  .row .right-bar {
    padding-right: 20px;
  }
}
/*=======================================CSS FOR SMALL SCREEN ENDS HERE====================================================*/
